# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
*.releaseBackup

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr

# --- Archivos de sistema / Otros ---
*.log
*.tmp
*.bak

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# --- Errores de sistema Java ---
*.hprof
hs_err_pid*

# --- Otros ---
bin/